{% extends "base.html" %}
{% block title %} <title>Лист всех жанров</title> {% endblock title %}

{% load crispy_forms_tags %}
        {% block books_active %}
       
          <a class="nav-link dropdown-toggle active" href="{% url 'CRUDL_books:list' %}" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Books</a>
 
        {% endblock books_active %}
   
    {% block main %}

        <table class="table table-striped" width="100%" > 
            <thead class="thead-dark"></thead>
                <tr>
                    <th>Имя автора</th><th>Фамилия автора</th><th>Автор книг</th>
                </tr>
            </thead>
            {% for author in object_list %}
                <tr>

                    <td><a href="{% url 'CRUDL_books:author_detail' author.pk %}">{{author.first_name}}</a> </td>     
                    <td>{{author.last_name}} </td>
                    <td>   
                            {% for books in author.books_author.all %}
                                <a href="{% url 'CRUDL_books:detail' books.pk %}">{{books}}</a> <br>
                            {%endfor%}
                    </td>
                </tr>
        {% endfor %} 
        </table>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
{% endblock main %}
</body>
</html>

