{% extends "base.html" %}
  {% block title %}<title>Обновление данных для {{object.username}}</title>{% endblock title %}
{% load crispy_forms_tags %}

        {% block profiles_active%}
          <a class="nav-link dropdown-toggle active" href="{% url 'CRUDL_profiles:detail' user.prof_user.pk %}" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Profiles</a>
          {% endblock profiles_active %}

    {% block main %}
{% if user.username == object.username%}
     <div class=container>
             
     <h3>Обновление данных для {{object.username}}</h3>
     <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
            {{form|crispy}}
        <input class="btn btn-primary" type="submit" value="Обновить">
    <a class="btn btn-success" href="{% url 'CRUDL_profiles:detail' object.pk %}">Back </a>

     </form>
    </div>
{% else %}
<div class=container>
.
                  <div class="alert alert-danger alert-dismissible fade show" role="alert" {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    <h3 class="text-center text-info" >  Доступ запрещён.<br>  Обновить можно только данные своего профиля</h3>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
  <a class="btn btn-success" href="{% url 'CRUDL_profiles:detail' user.prof_user.pk %}">Мой профиль</a>
  {% endif %}
</div>
</body>
{% endblock main %}
</html>