{% extends "sadmin.html" %}

  {% block title %}<title>Staff portal</title>{% endblock title %}
{% load crispy_forms_tags %}
    {% block main %}

     <div class=container>
     <h3>Welcome to staff portal, dear {{user}}</h3>
     {% comment %} <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
            {{form|crispy}}
        <input class="btn btn-primary" type="submit" value="Добавить">
    <a class="btn btn-success" href="{% url 'home_page'%}">Go to site </a> {% endcomment %}
     </form>
    </div>

</body>
    {% endblock main %}
</html>