<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<details>
    <summary>Details</summary>
    Something small enough to escape casual notice.
</details>
<details>
    <summary>Details</summary>
    Something small enough to escape casual notice.
</details>
    testest1
    testest1 <br>
    My balance {{balance}} <br>
    avg 24 {{h24}}

     <table border="1" width="100%"> 
        <tr>
        <{% for i in key  %}
            <td>{{i}}</td>
        {% endfor %}
        <tr>
        {% for i in values %}
        <td>{{i}}</td> 
        {% endfor %}
        </tr>
        </tr>
    </table>
    Genre.filter: {{genre}} <br>
    Genre.filter по позииции: {{genre.0}} <br>
    <h1>Genre</h1>
         <table border="1" width="100%"> 
        
        <{% for i in all_g  %}
            <tr>
            <td>{{i.pk}}</td><td>{{i.name}}</td><td>{{i.description}}</td><td>{{i.created}}</td><td>{{i.update}}</td>
            </tr>
        {% endfor %}
    </table>
        <h1>Books</h1>
         <table border="1" width="100%"> 
        
        <{% for i in all_b  %}
            <tr>
            <td>{{i.pk}}</td><td>{{i.name}}</td><td>{{i.description}}</td><td>{{i.created}}</td><td>{{i.update|timesince}}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>