<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Genre</h1>
    <h3>Menu</h3>
    <h6>Создание объекта</h6>
        <p><a href="test_created/">Перейти</a></p>
    <h6>Изменение объекта по ключу</h6>
        <p><a href="test_pk/1">Перейти: test_pk/pk</a></p>
    <h6>Работа с формой</h6>
        По умолчанию(без передачи PK) - возвращается пустая форма<br>
        <p><a href="test_form">Перейти: test_form/{опционально PK}</a></p>
    <h6>Работа с формой по PK</h6>
        <p><a href="test_form">Перейти: test_form/pk</a></p>
    <h6>Работа с формой CREATE</h6>
        <p><a href="create">Перейти: create/</a></p>
    <h6>Работа с формой UPDATE</h6>
        <p><a href="update/1">Перейти: update/1</a></p>
    <h6>Работа с формой LIST</h6>
        <p><a href="list/">Перейти: list/</a></p>
</body>
</html>