<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Genre</h1>
    <h3>form_test_form</h3>
    <form action="" method="post">
        {% csrf_token %}
            {{form.as_p}}
        <input type="submit" value="submit">
    </form>
    <h3>form_test_form2</h3>
    <form action="" method="post">
        {% csrf_token %}
            {{form2.as_p}}
        <input type="submit" value="submit">
    </form>
</body>
</html>