<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <table border="1" width="100%" > 
            <tr>
            <td>i.pk</td><td>i.browser</td><td>i.date_ivents</td><td>i.created</td><td>i.update|timesince</td>
            </tr>
            <{% for i in object_list %}
                <tr>
                <td>{{i.name}}</td><td>{{i.description}}</td><td>{{i.created}}</td><td>{{i.created}}</td><td>{{i.update|timesince}}</td>
                </tr>
        {% endfor %}
        </table>
</body>
</html>