<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a class="btn btn-primary" href="/create/">Create new Genre</a>
        <table class="table table-striped" border="1" width="100%" > 
            <tr>
                <th>Редактирование</th><th>Название жанра</th><th>Описание</th><th>Дата создания</th><th>Дата изменения</th><th>Удаление</th>
            </tr>
            {% for i in object_list %}
                <tr>
                <td><a href="/update/{{i.id}}">Edit</a></td><td>{{i.name}}</td><td>{{i.description}}</td><td>{{i.create}}</td><td>{{i.update|timesince}}</td><td><a href="/delete/{{i.pk}}">Delete</a></td>
                </tr>
        {% endfor %}
        </table>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>

