{% extends "sadmin.html" %}
{% block title %} <title>Корзина</title> {% endblock title %}

{% load crispy_forms_tags %}
{%load my_tags %}
              {% block nav_cart %}
                <li class="nav-item">
                  <a class="nav-link active" href="{% url 's-admin:cart' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart"><circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg>
                    Cart
                  </a>
                </li>
              {% endblock nav_cart %}
    {% block main %}
        <table class="table table-striped" width="100%" > 
            <thead class="thead-dark"></thead>
                <tr>
                    <th>Владелец корзины</th><th>Товар</th><th>Кол-во</th><th>Цена книги</th><th>Итого</th><th>#</th>
                </tr>
                <tr>
                    <td> {% if object.user is Nonew %}
                     Гость
                    {% else %}
                    {{object.user}}</td>
                    {% endif %}
                    
                    <td>
                    {% for books in object.books.all %}
                            {% if books.books is not None %}
                            {{books.books}} <br>
                            {% else %}
                            sss
                            {% endif %}
                            
                    {% endfor %}
                    </td>
                    <td>
                    {% for books_q in object.books.all %}
                        <a href="{% url 'cart:add' %}?book_pk={{books_q.books.pk}}">{{books_q.qantity}}</a> <br>
                    {% endfor %}
                    </td>
                    <td>
                    {% for books_price in object.books.all %}
                            {{books_price.books.price}} <br>
                    {% endfor %}
                    </td>
                    <td>
                    {% for to_pay in object.books.all %}
                            {{to_pay.price}} <br>
                    {% endfor %}
                    </td>
                    <td>
                    {% for books_d in object.books.all %}
                        <a href="{% url 'cart:delete' books_d.pk %}">Delete </a> <br>
                    {% endfor %}
                    </td>
                </tr>
            </thead>
        </table>
        <b>Total price: {{object.totalprice}}<br>
        <a class="btn btn-success" href="{% url 's-admin:cart'%}"> Back</a>

        
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
{% endblock main %}
</body>
</html>

