{% extends "sadmin.html" %}
{% block title %} <title>Лист всех издательств</title> {% endblock title %}

{% load crispy_forms_tags %}
{%load my_tags %}
              {% block nav_publisher %}
                <li class="nav-item d-flex justify-content-between">
                  <a class="nav-link active" href="{% url 's-admin:publisher' %}">
                     <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                    Publisher
                  </a>
                
              {% endblock nav_publisher %}

    {% block main %}
        <table class="table table-striped" width="100%" > 
            <thead class="thead-dark"></thead>
                <tr>
                    <th>Название издательства</th><th>Список книг по издательству</th>
                </tr>
            </thead>
            {% for genre in object_list %}
                <tr>
                    <td>{{genre.name}}</td>    
                    <td> 
                    {% for books in genre.publisher_books.all %}
                        <a href="{% url 's-admin:books_detail' books.pk %}">{{books}}</a> <br>
                    {%endfor%}
                    </td>
                </tr>
        {% endfor %} 
        </table>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
{% endblock main %}
</body>
</html>

