{% extends "sadmin.html" %}
  {% block title %}<title>Изменение жанра {{object.name}}</title>{% endblock title %}
{% load crispy_forms_tags %}
              {% block nav_cart %}
                <li class="nav-item">
                  <a class="nav-link active" href="{% url 's-admin:cart' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart"><circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg>
                    Cart
                  </a>
                </li>
              {% endblock nav_cart %}
    {% block main %}
       <div class=container>
     <h3>Обновление данных корзины</h3>
     <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
            {{form|crispy}}
        <input class="btn btn-primary" type="submit" value="Обновить">
    <a class="btn btn-success" href="{% url 's-admin:cart'%}">Back </a>
     </form>
    </div>

</body>
{% endblock main %}
</html>