
{% extends "sadmin.html" %}
  {% block title %}<title>Детальный обзор Книги {{object.name}}</title>{% endblock title %}
{% load crispy_forms_tags %}
    {% block main %}
<body>
    <h1>Подробное описание книги: {{object.name}}</h1>

<div class="card mb-10" style="max-width: 1850px;">
  <div class="row no-gutters">
    <div class="col-md-5">
        {% if object.picture %}
            <img  height="450" weight="450" src="{{object.picture.url}}" class="card-img" alt="">
        {% else %}
            <img src="..." class="card-img" alt="...">
        {% endif %}
      
    </div>
    <div class="col-md-5">
      <div class="card-body">
        <h5 class="card-title">{{object.name}}</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Описание книги</li>
                 <li class="list-group-item">Автор:
                {% for author in object.author.all %}
                    <b>{{author}}</b> 
                {% endfor %} 
                </li>
                <li class="list-group-item">Жанр:  
                {% for genre in object.genre.all %}
                    <b>{{genre.name}}</b>
                {% endfor %}
                </li>
                <li class="list-group-item">Кол-во страниц: <b>{{object.count_page}}</b></li>
                <li class="list-group-item">Переплёт: <b>{{object.binging}}</b></li>
                <li class="list-group-item">Формат: <b>{{object.format_book}}</b></li>
                <li class="list-group-item">ISBN: <b>{{object.isbn}}</b></li>
                <li class="list-group-item">Вес: <b>{{object.weight}}</b></li>
                <li class="list-group-item">Ограничение по возрасту: <b>{{object.age_limit}}</b></li>
                <li class="list-group-item">Кол-во книг в наличии: <b>{{object.count_book}}</b></li>
                <li class="list-group-item">Рейтинг: <b>{{object.rating}}</b></li>
                <li class="list-group-item">Год издания: <b>{{object.publishing_year}}</b></li>
                <li class="list-group-item">Price: <b>{{object.price}}</b></li>
                {% if object.availability %}
                    <li class="list-group-item"><b>Доступен для заказа</b></li>
                {% else %}
                    <li class="list-group-item"><b>Не доступен для заказа</b></li>
                {% endif %}
            </ul>
        <p class="card-text"><small class="text-muted">Добавлено {{object.create}}</small></p>
        <p class="card-text"><small class="text-muted">Обновлено {{object.update}}</small></p>
      </div>
    </div>
  </div>
</div>
        <a class="btn btn-success" href="{% url 's-admin:product'%}">Back </a>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
{% endblock main %}
</html>

