{% extends "sadmin.html" %}
  {% block title %}<title>Изменение жанра {{object.name}}</title>{% endblock title %}
{% load crispy_forms_tags %}
              {% block nav_orders %}
                <li class="nav-item">
                  <a class="nav-link active" href="{% url 's-admin:order' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                    Orders
                  </a>
                </li>
              {% endblock nav_orders %}
    {% block main %}
       <div class=container>
     <h3>Информация о заказе</h3>
     <form action="" method="post" enctype="multipart/form-data">
        <label>Заказчик</label>
        <input type="text" value="{{object.cart.user}}" maxlength="15" class="textinput textInput form-control" disabled>
        <label>Сумма заказа</label>
        <input type="text" value="{{object.cart.totalprice}}" maxlength="15" class="textinput textInput form-control" disabled>
        {% csrf_token %}
            {{form|crispy}}
        <input class="btn btn-primary" type="submit" value="Обновить">
    <a class="btn btn-success" href="{% url 's-admin:order'%}">Back </a>
     </form>
    </div>

</body>
{% endblock main %}
</html>