
{% extends "base.html" %}
  {% block title %}<title>Детальный обзор Книги {{object.name}}</title>{% endblock title %}
{% load crispy_forms_tags %}
    {% block main %}
<body>
    <h1>Подробное описание книги: {{object.name}}</h1>
            <table class="table table-striped" width="100%" > 
                <thead class="thead-dark"></thead>
                    <tr>
                        <th>Название <br>книги</th><th>Фото обложка</th><th>Цена</th><th>Автор</th><th>Серия</th><th>Жанр</th><th>Год издания</th><th>Кол-во страниц</th><th>Переплёт</th><th>Формат</th>
                        <th>ISBN</th><th>Вес</th><th>Ограничение по возрасту</th><th>Издательство</th><th>Кол-во книг в наличии</th><th>Доступность</th><th>Рейтинг</th><th>Дата внесения</th><th>Дата изменения</th><th>#</th>
                    </tr>
                </thead> 
                
                <tr>
                    <td>{{object.name}}</td>
                    {% if object.picture %}
                        <td> <img height="250" height="250" src="{{object.picture.url}}" alt=""></td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    <td>{{object.price}}</td>
                    {% for author in object.author.all %}
                        <td>{{author}}</td>
                    {% endfor %}                   
                    <td>Soon...</td>
                    <td>
                    {% for genre in object.genre.all %}

                        {{genre.name}}
                    {% endfor %} 
                    </td>
                    <td>{{object.publishing_year}}</td><td>{{object.count_page}}</td><td>{{object.binging}}</td><td>{{object.format_book}}</td>
                    <td>{{object.isbn}}</td><td>{{object.weight}}</td><td>{{object.age_limit}}</td><td>Soon...</td><td>{{object.count_book}}</td>
                   
                    {% if object.availability %}
                    <td>Доступен для заказа</td>
                    {% else %}
                    <td>Не доступен для заказа</td>
                    {% endif %}
                    
                    
                    
                    <td>{{object.rating}}</td><td>{{object.create}}</td><td>{{object.update}}</td>
                    <td><a href="{% url 'CRUDL_books:update' object.pk %}"><svg class="bi bi-pencil-square" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                  </svg></a></td>
                </tr>
            </table>
        <a class="btn btn-success" href="{% url 'home_page'%}">Go to site </a>
        <a class="btn btn-success" href="{% url 'CRUDL_books:list'%}">Back </a>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
{% endblock main %}
</html>

