{% extends "base.html" %}

  {% block title %}<title>Домашняя страница</title>{% endblock title %}
{% load crispy_forms_tags %}
    {% block main %}
    <div class="container">
 
        {% include "paginator.html" %}
        <div class="row">
            {% for object in object_list %}
            <div class="row">
                <div class="card" style="width: 18rem;">
                    {% if object.picture %}
                        <img height="250" height="250"src="{{object.picture.url}}" class="card-img-top" alt="">
                    {% else %}
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{object.name}}</h5>
                        <p class="card-text">Жанр:<br>
                        {% for genre in object.genre.all  %}
                                    {{genre.name}}
                                    <br>
                                {% endfor %} </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Год издания: {{object.publishing_year}}</li>
                        <li class="list-group-item">Возрастные ограничения: {{object.age_limit}}</li>
                        <li class="list-group-item">Цена: {{object.price}}</li>
                    
                    {% if object.availability %}
                        <li class="list-group-item">Доступен для заказа: Да</li>
                    </ul>
                    <div class="card-body">
                        <a href="{% url 'CRUDL_books:detail' object.pk %}" class="card-link">Подробнее</a>
                        {% comment %} {% if user.is_anonymous %}
                                    <a class="card-link" href="{% url 'login' %}">Авторизируйтесь</a>
                        {% else%}
                         {% endcomment %}
                        <a href="{% url 'cart:add' %}?book_pk={{object.pk}}" class="card-link">В корзину</a>
                        {% comment %} {% endif%} {% endcomment %}
                    </div>
                    {% else %}
                        <li class="list-group-item">Доступен для заказа: Нет</li>
                    </ul>
                    <div class="card-body">
                        <a href="#"  class="card-link">Подробнее</a>
                        <a href="#"  class="card-link">В корзину</a>
                    </div>
                    {% endif %}
                </div>
            </div>

             {% endfor %} 
</form>
        </div>
    </div>
 
    {% endblock main %}

</body>
</html>