{% extends "base.html" %}
  {% block title %}<title>Домашняя страница</title>{% endblock title %}
{% load crispy_forms_tags %}
    {% block main %}
    {% for object in object_list %}
        <div class="card" style="width: 18rem;">
        {% if object.picture %}
            <img src="{{object.picture.url}}" class="card-img-top" alt="">
        {% else %}
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
        <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
        </div>
    {% endfor %}
    {% endblock main %}
</body>
</html>