{% extends "base.html" %}

  {% block title %}<title>Домашняя страница</title>{% endblock title %}
{% load crispy_forms_tags %}
        {% block books_active %}
          <a class="nav-link dropdown-toggle active" href="{% url 'CRUDL_books:list' %}" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Books</a>
          {% endblock books_active %}
    {% block main %}
    <div class="container">
 
        {% include "paginator.html" %}
        <div class="row">
            {% for object in object_list %}
            <div class="row">
                
                <div class="card border mb-3" style="width: 18rem;">
                    <div class="card-header bg-transparent border">
                    {% if object.picture %}
                        <img height="400" weight="300"src="{{object.picture.url}}" class="card-img-top" alt="">
                    {% else %}
                    {% endif %}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{object.name}}</h5>
                    </div>
                    <div class="card-footer">
                        <div class="card-link">
                            <a class="btn btn-primary" href="{% url 'CRUDL_books:detail' object.pk %}" >Подробнее</a>
                            <a class="btn btn-success" href="{% url 'cart:add' %}?book_pk={{object.pk}}">В корзину</a>
                        </div>
                    </div>
                </div>
            </div>

             {% endfor %} 
</form>
        </div>
    </div>
 
    {% endblock main %}

</body>
</html>