{% extends "sadmin.html" %}
  {% block title %}<title>Создание новго жанра</title>{% endblock title %}
{% load crispy_forms_tags %}
              {% block nav_books %}
                <li class="nav-item d-flex justify-content-between">
                  <a class="nav-link " href="{% url 's-admin:books' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>
                    Books
                  </a>
                <a class="nav-link active" href="{% url 's-admin:books_create' %}" aria-label="Add a new books">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
                </a>
              </li>
              {% endblock nav_books %}
    {% block main %}

     <div class=container>
     <h3>Добавление новой книги пользователем  {{user}}</h3>
     <form  action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
            {{form|crispy}}
        <input class="btn btn-primary" type="submit" value="Создать">
    <a class="btn btn-success" href="{% url 'home_page'%}">Go to site </a>
    </form>
    </div>
    {% endblock main %}
</body>
</html>