{% extends "sadmin.html" %}
  {% block title %}<title>Добавление новой книги</title>{% endblock title %}
{% load crispy_forms_tags %}
              {% block nav_series %}
                <li class="nav-item d-flex justify-content-between">
                  <a class="nav-link active" href="{% url 's-admin:series' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                    Series
                  </a>
              {% endblock nav_series %}
    {% block main %}

     <div class=container>
     <h3>Добавление новой серии пользователем  <b>{{user}}</b></h3>
     <form  action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
            {{form|crispy}}
        <input class="btn btn-primary" type="submit" value="Создать">
    <a class="btn btn-success" href="{% url 's-admin:publisher'%}">Back </a>
    </form>
    </div>
    {% endblock main %}
</body>
</html>