{% extends "base.html" %}

  {% block title %}<title>Добавление в корзину</title>{% endblock title %}
{% load crispy_forms_tags %}
    {% block main %}

     <div class=container>
     <h3>Добавление книги {{object.name}}</h3>
     <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
            {{form|crispy}}
        <input class="btn btn-primary" type="submit" value="Добавить">
    <a class="btn btn-success" href="{% url 'home_page'%}">Go to site </a>
     </form>
    </div>

</body>
    {% endblock main %}
</html>