{% extends "base.html" %}
{% block title %} <title>Корзина</title> {% endblock title %}

{% load crispy_forms_tags %}
{%load my_tags %}
    {% block main %}
        <table class="table table-striped" width="100%" > 
            <thead class="thead-dark"></thead>
                <tr>
                    <th>Владелец корцины</th><th>Дата создания</th><th>дата обновления</th><th>Товар</th><th>Кол-во</th><th>Цена книги</th>
                </tr>
                <tr>
                    <td>{{object.user}}</td>
                    <td>{{object.create}}</td>
                    <td>{{object.update}}</td>
                    <td>
                    {% for books in object.books.all %}
                            {{books.books}} <br>
                    {% endfor %}
                    </td>
                    <td>
                    {% for books_q in object.books.all %}
                            {{books_q.qantity}} <br>
                    {% endfor %}
                    </td>
                    <td>
                    {% for books_price in object.books.all %}
                            {{books_price.books.price}} <br>
                    {% endfor %}
                    </td>
                    
                </tr>
            </thead>
        </table>
        <a class="btn btn-success" href="{% url 'home_page'%}">Go to site </a>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
{% endblock main %}
</body>
</html>

